// ===================================
// Buttons
// ===================================

//remove default styling
button,
input{
  display: flex;
  justify-content: center;
  // display: block;
  margin      : 0 auto;
  padding     : 0;
  border      : 0;
  max-width: 250px;
  background  : transparent;
  font-family : inherit;
  font-size   : 1em;
  line-height: 30px;
  cursor      : pointer;
  & span{
    //span elements as block-level elements in order to make them easier to style (while using div elements would have had the same effect, a div element inside a button is invalid HTML
    // display:inline-block;
  }
}
//Firefox remove space around button
button::-moz-focus-inner{
  padding : 0;
  border  : 0;
}
button > span,
input{
  // padding     : 0 8px;
  line-height : 30px;
  color       : white;
  text-shadow : 0 0 2px black;
  // border        : 1px solid rgb(128,128,128);
  border-radius : 2px;
  background       : $sunny-gold;
  & span, input{
    padding     : 4px 8px;
    line-height : 30px;
    border-radius : 2px;
  }
}


// ============================
// External Portfolio Pages
// ============================


button,
input{
  display: block;
  width: 50%;
  margin: 0 auto 20px;
  &:hover{
    background-color: $shallow-sea ;
  }
}
