// ===================
// Typography
// ===================

body{
  font: 14px $font-url--google;
  color: $underwater-blue;
  @include mq(medium){
    font-size: em(16px);
  }
}
.main-header h1{
  font-family: $font-url--google_secondary;
}
.intro{
  color: white;
  & h1{
    font-size: em(50px);
  }
  & h2{
    font-size: em(26px);
  }
  & p{
    font-size: 16px;
    padding: 0 15px;
  }
}

.portfolio p{
  color: $underwater-blue;
}
