// ==========================================================================
// Base Styles
// ==========================================================================
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

//extra white space on right
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body{
	@include mq (medium){
	padding-top: em(60.25px);
 }
}



h1,
h2,
.intro p{
  text-align: center;

}





.portfolio h2{
	margin-top: em(25px);
}

#aboutMe{
	background-color: $white;
  display: inline-block;
	border: 10px double $sunny-gold;
	margin: 5%;
	max-width: 90%;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(168,158,168,1);
	-moz-box-shadow: 0px 3px 3px 0px rgba(168,158,168,1);
	box-shadow: 0px 1px 1px 0px rgba(168,158,168,1);
  @extend %P-mobile-margins;
	.aboutMeHeading{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		& h2{
			align-self: flex-end;
		}
	}
  h3{
    margin-top: 3em;
  }
  p{
    text-align: left;
  }
}

#resume{
  background-color: $riverstone-blue;
  color: $white;
  @extend %P-mobile-margins;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	& li{
		list-style: initial;
	}
}

#aboutMe,
#resume{
	@include mq(medium) {
		padding: 20px 85px;
	}
}

.effect7{
    position:relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.effect7:before, .effect7:after{
    content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
}

.effect7:after{
    right:10px;
    left:auto;
    transform:skew(8deg) rotate(3deg);
}




#contact{
  background-color: $underwater-blue;
  color: $white;
  text-align: center;
  padding-top:  em(10px);
	padding-bottom: em(10px);
    span{
      display: inline-block;
			padding: 0 13px;
    }
    & h3{
    color: $sunny-gold;
		text-shadow: 1px 1px $underwater-blue;
		}
		& ul{
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			margin-bottom: 0;
			padding-left: 0;
			& li{
		    margin-left: em(30px);
				margin-right: em(30px);
		  }
		}
		@include mq (small){
			flex-direction: column;
		}
}


  footer{
    background-color: $sea-foam;
    // color: palette(grey, x-light);
		color: $shallow-sea;
    text-align:  center;
		font-size: em(13px);
    & p{
      margin: 0;
  }
}


// ============================
// ONLINE FORM Page
// ============================
section.form{
	background-color: $white;
	padding: 0 25px 10px;
	border-top: 3px solid $underwater-blue;

}
.form-img,
.style-img,
.form-text{
	@include mq(medium){
	margin: 20px 35px;
	// @extend %P-mobile-margins;
	}
}
.container-form{
	display: flex;
	flex-direction: column;
	align-items: flex-start;



	@include mq(medium){
		flex-direction: row;
	}
	& li{
		list-style: initial;
		padding: 8px 0;
	}
}



.form-text{

}
