// ==========================================================================
// Base Styles
// ==========================================================================
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
body {
  @include mq (medium){
  margin-top: em(30px);
  // padding: 0 5em;
}

}



h1,
h2{
  text-align: center;

}

.logo-1{
  display:none;
  font-size: 2em;
  border:  1px solid $black;
  border-radius: 100%;
  position: absolute;
    left: 40px;
    top: 5px;
  height: 200px;
  width: 200px;
  line-height: 200px;


  background-color: $white;
  @include mq (medium){
    display: initial;
  }
}
.logo-2{
  font-size: 1em;
  border:  1px solid $black;
  border-radius: 100%;
  position: absolute;
    left:35%;
    top: em(25px);
  height: 100px;
  width: 100px;
  line-height: 100px;


  background-color: $white;
  @include mq(medium){
    display:none;
  }
}

.intro p{
  text-align: center;
}

.portfolio h2{
	margin-top: em(25px);
}

#aboutMe{
  display: inline-block;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(168,158,168,1);
	-moz-box-shadow: 0px 3px 3px 0px rgba(168,158,168,1);
	box-shadow: 0px 1px 1px 0px rgba(168,158,168,1);
  @extend %P-margins;
	.aboutMeHeading{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		& h2{
			align-self: flex-end;
		}
	}
  h3{
    margin-top: 3em;
  }
  p{
    text-align: left;
  }
}

#resume{
  background-color: $riverstone-blue;
  color: $white;
  @extend %P-margins;





    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7
{
    position:relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
    content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
}
.effect7:after
{
    right:10px;
    left:auto;
    transform:skew(8deg) rotate(3deg);
}


// #contact{
//
//   background-color: palette(grey, xx-light);
//     text-align: center;
//       padding-top:  em(10px);
//     span{
//       display: inline-block;
//
//     }
//     & h3{
//     color: $sunny-gold;
//
//
//     // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
// }
// }
//
//
//   footer{
//     background-color: palette(grey, xx-light);
//     color: $white;
//     text-align:  center;
//     & p{
//       margin: 0;
//   }
// }



#contact{
  background-color: $sea-foam;
  color: $white;
  text-align: center;
  padding-top:  em(10px);
    span{
      display: inline-block;
    }
    & h3{
    color: $sunny-gold;
		}
		& ul{
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			margin-bottom: 0;
			padding-left: 0;
			& li{
		    margin-left: em(30px);
				margin-right: em(30px);
		  }
		}
		@include mq (small){
			flex-direction: column;
		}
}


  footer{
    background-color: palette(grey, x-light);
    color: palette(grey, xx-light);
    text-align:  center;
    & p{
      margin: 0;
  }
}
